<h1>Please Sign-up</h1>
<form action='/users' method='post'>
  <label for='email'>
    email: <input name='email' type='text'>
  </label>
  <label for='password'>
    password: <input name='password' type='text'>
  </label>
  <input type='submit' value='Sign-up'>
</form>
